html{
    background-color: #CCFFFF;
    width: 100%;
    overflow-y: scroll;
  }
body {
    background-color: lightsalmon;
  }

p {
    font-weight:bold;
    text-decoration: none;
    color: black;
    font-family: "candara", Helvetica, Arial;
  }
h1, h2 {
    text-align:center;
    font-family: "candara", Helvetica, Arial;
    color: black;
    margin-top: 3%;
    letter-spacing:5px;
  }
.nav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
   }

li {
    list-style: none;
    float: left;
}

.nav li a {
    padding: 14px 16px;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

.nav li a:hover {
    background-color: #ffffff;
    color: #006bb3;
}
  #table {
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  
  td {
    text-decoration: none;
    color: black;
    font-family: "candara", Helvetica, Arial;
    padding: 1%;
  } 
  
  footer {
    display: flex;
    margin-bottom: 3%;
    justify-content: center;
  }
figure {
    margin: auto;
    float: center;
    width: 540px;
}
